.nav {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 20px;
  padding: 20px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 15px;
}

.link:hover {
  text-decoration: underline;
  color: rgb(0, 255, 42);
}

.isActive {
  color: rgb(0, 255, 42);
}

.nav_box {
}
